@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, #__next {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Eczar', serif;
}

.wallet-adapter-button.wallet-adapter-button-trigger {
  @apply bg-green-800 hover:bg-green-900 text-amber-400 px-3 rounded font-medium h-auto uppercase !important;
}
.wallet-adapter-button.wallet-adapter-button-trigger > i > img {
  @apply h-4 w-4;
}

